<div>
	<div class="row google-page">
		<div class="col"></div>
		<div class="col-md-6">
			<span>
				<meta content="text/html; charset=UTF-8" http-equiv="content-type">
				<p class="c10 title" id="h.r21agfywp4x9"><span class="c13 c16">Data protection</span></p>
				<p class="c2"><span class="c0"></span></p>
				<p class="c6"><span class="c0">As a rule, this website can be used without providing personal data. As far as personal data (e.g. name, address or e-mail addresses) is collected on the pages, this is always done on a voluntary basis, as far as possible. This data will not be passed on to third parties without your express consent.</span></p>
				<p class="c6"><span class="c0">The data transmission over the Internet (e.g. communication by e-mail) can have security gaps. A complete protection of data against access by third parties is not possible. The use by third parties of contact data published within the framework of the imprint obligation for the purpose of sending advertising and information material not expressly
						requested is
						hereby expressly prohibited. The operator of the website expressly reserves the right to take legal action in the event of unsolicited advertising being sent, for example in the form of spam mails.</span></p>
				<h1 class="c12" id="h.eupbdduylsl8"><span class="c3">Data protection at a glance </span></h1>
				<h2 class="c4" id="h.rxefpthhgnyk"><span class="c5">General notes</span></h2>
				<p class="c6"><span class="c0">The following notes provide a simple overview of what happens to your personal data when you visit my website. Personal data are all data with which you can be personally identified. For detailed information on the subject of data protection, please refer to my data protection declaration listed under this text.</span></p>
				<h2 class="c4" id="h.sqlvmz8j8cpf"><span class="c5">Data collection on my website</span></h2>
				<h3 class="c1" id="h.h5361hczt53u"><span class="c7">Who is responsible for data collection on this website?</span></h3>
				<p class="c6"><span class="c0">The data processing on this website is carried out by the website operator. You can find his contact details in the imprint of this website.</span></p>
				<h3 class="c1" id="h.e95gpk3elx49"><span class="c7">How do I collect your data?</span></h3>
				<p class="c6"><span class="c0">On the one hand, your data is collected when you give it to me. This can be data that you enter in a contact form, for example.</span></p>
				<p class="c2"><span class="c0"></span></p>
				<p class="c6"><span class="c0">Other data is automatically collected by IT systems when you visit the website. These are mainly technical data (e.g. internet browser, operating system or time of the page call). These data are automatically collected as soon as you enter my website.</span></p>
				<h3 class="c1" id="h.vuydrb0gpvm"><span class="c7">What do I use your data for?</span></h3>
				<p class="c6"><span class="c0">Part of the data is collected to ensure that the website is provided without errors. Other data can be used to analyse your user behaviour.</span></p>
				<h3 class="c1" id="h.46lo7wpvqvp"><span class="c7">What rights do you have regarding your data?</span></h3>
				<p class="c6"><span class="c0">You have the right to receive information free of charge about the origin, recipient and purpose of your stored personal data at any time. You also have the right to demand the correction, blocking or deletion of this data. For this purpose, as well as for further questions regarding data protection, you can contact me at any time at the address given
						in the
						imprint. Furthermore, you have a right of appeal to the responsible supervisory authority.</span></p>
				<h1 class="c12" id="h.n5pvlun8k9ip"><span>G</span><span class="c3">eneral information and compulsory information</span></h1>
				<h2 class="c4" id="h.la0atrsz412"><span class="c5">Data protection</span></h2>
				<p class="c6"><span class="c0">The operator of these pages takes the protection of your personal data very seriously. I treat your personal data confidentially and in accordance with the legal data protection regulations and this privacy policy.</span></p>
				<p class="c2"><span class="c0"></span></p>
				<p class="c6"><span class="c0">When you use this website, various personal data is collected. Personal data are data with which you can be personally identified. This privacy policy explains what data I collect and what I use it for. It also explains how this is done and for what purpose.</span></p>
				<p class="c2"><span class="c0"></span></p>
				<p class="c6"><span class="c0">I would like to point out that data transmission over the Internet (e.g. communication by e-mail) can have security gaps. A complete protection of data against access by third parties is not possible.</span></p>
				<h2 class="c4" id="h.22oay0r23kwq"><span class="c5">Note on the responsible body</span></h2>
				<h4 class="c11" id="h.duusb0ckopgq"><span class="c15">The person responsible for data processing on this website is:</span></h4>
				<p class="c6"><span class="c0">...</span></p>
				<p class="c6"><span class="c0">...</span></p>
				<p class="c2"><span class="c0"></span></p>
				<p class="c6"><span class="c0">Responsible body is the natural or legal person who alone or jointly with others decides on the purposes and means of processing personal data (e.g. names, e-mail addresses, etc.).</span></p>
				<h2 class="c4" id="h.f7y5yvunzvbz"><span class="c5">Revocation of your consent to data processing</span></h2>
				<p class="c6"><span class="c0">Many data processing operations are only possible with your express consent. You can revoke any consent already given at any time. All you need to do is send me an informal message by e-mail. The legality of the data processing that took place up to the revocation remains unaffected by the revocation.</span></p>
				<h2 class="c4" id="h.vv7egnyqqcia"><span class="c5">Right of appeal to the competent supervisory authority</span></h2>
				<p class="c6"><span class="c0">In the event of violations of data protection law, the person concerned has a right of appeal to the competent supervisory authority. The competent supervisory authority in matters of data protection law is the State Data Protection Commissioner of the federal state in which my company is based. A list of the data protection officers and their contact
						details can
						be found at the following link:</span></p>
				<p class="c6"><span class="c8"><a class="c17" href="https://www.google.com/url?q=https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html&amp;sa=D&amp;ust=1595218480789000&amp;usg=AOvVaw2-G9--aWuBZBeNTTI7wKSt">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a></span></p>
				<p class="c2"><span class="c0"></span></p>
				<h2 class="c4" id="h.peggzifdffu6"><span class="c5">Right to data transferability</span></h2>
				<p class="c6"><span class="c0">You have the right to have data which I process automatically on the basis of your consent or in fulfilment of a contract handed over to you or to a third party in a common, machine-readable format. If you request the direct transfer of the data to another responsible person, this will only be done as far as it is technically feasible.</span></p>
				<h2 class="c4" id="h.i3g1revshcpg"><span class="c5">Information, blocking, deletion</span></h2>
				<p class="c6"><span class="c0">Within the framework of the applicable legal provisions, you have the right to obtain information free of charge at any time about your stored personal data, its origin and recipients and the purpose of the data processing and, if applicable, a right to correct, block or delete this data. For this purpose, as well as for further questions regarding
						personal data,
						you can contact me at any time at the address given in the imprint.</span></p>
				<h2 class="c4" id="h.bl8k0viwq54j"><span class="c5">Objection against advertising mails</span></h2>
				<p class="c6"><span class="c13">I</span><span class="c0">hereby object to the use of contact data published within the scope of the imprint obligation to send advertising and information material not expressly requested. The operator of the website expressly reserves the right to take legal action in the event of unsolicited sending of advertising information, e.g. via spam
						e-mails.</span></p>
				<p class="c2"><span class="c0"></span></p>
				<p class="c2"><span class="c0"></span></p>
			</span>
		</div>
		<div class="col"></div>
	</div>
</div>