.tree-demo-cont {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.sidebar {
  width: 12%;
  // background-color: lightblue;
  border: 1px solid black;
}
.workarea {
  width: 76%;

  background-color: lightgray;
}
