.tree-demo-cont {
  display: flex;
  flex-direction: row;
  height: 90vh;
}

.sidebar {
  width: 12%;
  // background-color: lightblue;
  border: 1px solid black;
}
.workarea {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

.workarea-compo {
  height: 100%;
  display: flex;
  flex-direction: column;
}
