.tree-demo-cont{
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    height: 90vh;
}

.sidebar{
    width: 20%;
    background-color: lightblue;
}
.workarea {
    width: 60%;
}