<div>
	<div class="row google-page">
		<div class="col"></div>
		<div class="col-md-6">
			<span>
				<meta content="text/html; charset=UTF-8" http-equiv="content-type">
				<p class="c10 title" id="h.yhiubf8q9j8r"><span class="c7">Imprint</span></p>
				<h2 class="c3" id="h.rwh2rind8rc1"><span class="c5">Information according to § 5 TMG</span></h2>
				<p class="c0"><span class="c1">...</span></p>
				<p class="c0 c6"><span class="c1"></span></p>
				<h2 class="c3" id="h.6zi9kcttvrm0"><span class="c5">Responsible for the content according to § 55 Abs. 2 RStV</span></h2>
				<p class="c0"><span class="c1">...</span></p>
				<h2 class="c3" id="h.slpk26qnetgq"><span class="c5">Liability for contents</span></h2>
				<p class="c0"><span class="c1">As a service provider we are responsible for our own contents on these pages according to § 7 Abs.1 TMG general laws. However, according to §§ 8 to 10 TMG, we as a service provider are not obliged to monitor transmitted or stored foreign information or to investigate for actions, indicating illegal activity.</span></p>
				<p class="c0"><span class="c1">Obligations to remove or block the use of information according to the general Laws remain unaffected by this. However, any liability in this respect is only valid from the time of knowledge of a concrete violation of the law. Upon gaining knowledge of any such a &nbsp;violation these contents will be removed immediately.</span></p>
				<p class="c0"><span class="c1">This website contains links to external websites of third parties, on whose contents we have no influence. Therefore we cannot assume any liability for these external contents. Responsible for the contents of the linked pages is always the respective provider or operator of the pages. The linked pages were checked for possible legal violations at the
						time of linking. Illegal contents were not recognizable at the time of linking.</span></p>
				<p class="c0 c6"><span class="c1"></span></p>
				<p class="c0"><span class="c1">A permanent control of the contents of the linked pages is, however, not reasonably &nbsp;possible without concrete indications of a Infringement of rights. Upon becoming known of any legal violations, we become such links immediately.</span></p>
				<h2 class="c3" id="h.bd1ihaqg0c7p"><span class="c5">Copyright</span></h2>
				<p class="c0"><span class="c1">The contents and works on these pages created by the site operators are subject to the German Copyright law. The duplication, processing, distribution and any kind of utilization outside the Limits of the copyright require the written consent of the respective author or creator.</span></p>
				<p class="c0"><span class="c8">Downloads and copies of these pages are only permitted for private, non-commercial use. Insofar as the contents on this site were not created by the operator, the copyrights of third parties are not taken into account. In particular, third-party content is identified as such. Nevertheless, should you become aware of any copyright infringement, we
						kindly ask for an appropriate reference. Once becoming aware of any infringements, such contents will be removed immediately.</span></p>
			</span>
			<br>
		</div>
		<div class="col">
			<div class="row"><br></div>
		</div>
	</div>
</div>