<div class="sidebar-left justify-content-center">
  <button pButton pRipple type="button" label="New Tree" (click)="showNewTreeForm()" class="p-button-outlined"></button>

  <p-listbox [options]="listItemList" filter="true" placeholder="Enter object key"
    [style]="{ height: '100%', padding: 0 }">


    <ng-template let-listItem pTemplate="item">
      <p-contextMenu #ctxmenu [target]="ctxmenudiv" [model]="ctxItemList" appendTo="body" event="contextmenu">
      </p-contextMenu>
      <div #ctxmenudiv class="fav-item align-items-center" (contextmenu)="toggleCtxMenu(listItem, ctxmenu)">
        <div class="col">
          <fa-icon [icon]="listItem.value.icon"></fa-icon>
          <span> {{ listItem.label }}</span>
        </div>
      </div>
    </ng-template>
  </p-listbox>

 <!-- <p-dialog header="Generate New Tree" [(visible)]="NoteToChangeThis">
    <div>Tree Name:</div>
    <input type="text" pInputText [(ngModel)]="newTreeName" />
    <div class="sidebar-left justify-content-center">
      <button pButton pRipple type="button" label="New Tree" (click)="showNewTreeForm()" class="p-button-outlined"></button> -->
      
      <p-listbox [options]="listItemList" filter="true" placeholder="Enter object key"
      [style]="{ height: '100%', padding: 0 }">
      
      
      <ng-template let-listItem pTemplate="item">
      <p-contextMenu #ctxmenu [target]="ctxmenudiv" [model]="ctxItemList" appendTo="body" event="contextmenu">
      </p-contextMenu>
      <div #ctxmenudiv class="fav-item align-items-center" (contextmenu)="toggleCtxMenu(listItem, ctxmenu)">
      <div class="col">
      <fa-icon [icon]="listItem.value.icon"></fa-icon>
      <span> {{ listItem.label }}</span>
      </div>
      </div>
      </ng-template>
      </p-listbox>
      
      <p-dialog header="Generate New Tree" [(visible)]="newTreeFormVisible" [style]="{width: '40vw', height: '70vh'}">
          <div class="p-field p-col-12 p-md-4">
              <span class="p-float-label">
                  <input type="text" id="inputtext" pInputText [(ngModel)]="newTreeName"> 
                  <label for="inputtext">Tree Name</label>
              </span>
          </div>
          <div id="calendar-container">
            <p-calendar class="p-field p-col-12 p-md-4" [(ngModel)]="newTreeDate"></p-calendar>
          </div>
            <div>
              <div class="p-field p-col-11 p-md-4">
                  <label for="integeronly">Integer Only </label>
                  <p-inputNumber inputId="integeronly" [(ngModel)]="intvalue">
                  </p-inputNumber>
              </div>
          </div>
          <div class="p-field p-col-12 p-md-4">
            <label for="rangeValues">Values</label>
            <p-slider [(ngModel)]="rangeValues" [range]="true" [min]="0" [max]="100"></p-slider>
          </div>
          <div>
            <span class="p-float-label">
              <input id="from-input" type="text" [(ngModel)]="From" pInputText> 
              <label for="from-input">From</label>
            </span>
            <span class="p-float-label">
              <input id="to-input" type="text" [(ngModel)]="To" pInputText> 
              <label for="to-input">To</label>
            </span>
        </div> 
        <div>
          <label for="booleanCheck">Boolean</label>
          <p-selectButton [options]="stateOptions" [(ngModel)]="booleanCheck" optionLabel="label" optionValue="value"></p-selectButton>
        </div>
    <p-footer class="dialog-footer">
      <button pButton type="button" label="Cancel" (click)="newTreeFormVisible = false"
        class="btn-dialog-cancel p-button-outlined"></button>
      <button pButton type="button" label="Create" (click)="createNewTree()" class="btn-dialog-proceed">
        <p-progressSpinner *ngIf="progressSpinnerVisible" [strokeWidth]="5" clas="progress-spinner">
        </p-progressSpinner>
      </button>
    </p-footer>
  </p-dialog>
</div>