.p-button {
  margin: 5px;
  border-radius: 5px;

  &.p-button-outlined {
    color: #008037;
    border: 1px solid;
  }
  &.btn-dialog-cancel {
    color: black;
    margin: 3px;
  }
  &.btn-dialog-proceed {
    background-color: #008037;
    border: #008037;
    font-weight: bold;
  }
}
.btn-sidebar {
  margin: 5px;
}
.dialog-footer {
  display: flex;
  justify-content: center;
}
.btn-dialog {
  width: 100%;
}
.fav-item {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}
.sidebar-left {
  display: flex;
  flex-direction: column;
}

.primengbutton {
  width: 100%;
  margin: 1em;
}

.prime-listbox {
  width: 100%;
}
