<div class="sidebar-left justify-content-center">
  <button pButton pRipple type="button" label="New Tree" (click)="showNewTreeForm()" class="p-button-outlined"></button>

  <p-listbox [options]="listItemList" filter="true" placeholder="Enter object key"
    [style]="{ height: '100%', padding: 0 }">


    <ng-template let-listItem pTemplate="item">
      <p-contextMenu #ctxmenu [target]="ctxmenudiv" [model]="ctxItemList" appendTo="body" event="contextmenu">
      </p-contextMenu>
      <div #ctxmenudiv class="fav-item align-items-center" (contextmenu)="toggleCtxMenu(listItem, ctxmenu)">
        <div class="col">
          <fa-icon [icon]="listItem.value.icon"></fa-icon>
          <span> {{ listItem.label }}</span>
        </div>
      </div>
    </ng-template>
  </p-listbox>

  <p-dialog header="Generate New Tree" [(visible)]="newTreeFormVisible">
    <div>Tree Name:</div>
    <input type="text" pInputText [(ngModel)]="newTreeName" />
    <p-footer class="dialog-footer">
      <button pButton type="button" label="Cancel" (click)="newTreeFormVisible = false"
        class="btn-dialog-cancel p-button-outlined"></button>
      <button pButton type="button" label="Create" (click)="createNewTree()" class="btn-dialog-proceed">

        <p-progressSpinner *ngIf="progressSpinnerVisible" [strokeWidth]="5" clas="progress-spinner">
        </p-progressSpinner>

      </button>
    </p-footer>
  </p-dialog>
</div>