<h2 class="text-center">Work Area</h2>
<h3>Tree Name: <span *ngIf="entity!= undefined" >{{entity.label }}</span></h3>
<div class="divider"></div>
<div class="justify-content-center">
  <p-organizationChart [value]="tree">
    <!-- SCENARIO -->
    <ng-template let-treeNode pTemplate="RULE">
      <app-node-rule [node]="treeNode"></app-node-rule>
    </ng-template>
    <!-- SCENARIO -->
    <ng-template let-treeNode pTemplate="SCENARIO">
      <app-node-scenario [node]="treeNode"></app-node-scenario>
    </ng-template>
  </p-organizationChart>
</div>
