:host ::ng-deep .p-organizationchart {
  input {
    padding-right: 0;
    padding-left: 0;
  }
  .col {
    margin:0;
    padding: 0;
  }
  .row {
    margin:0;
    padding: 0;
  }
  .node-card {
    background-color: white;
    padding: 0;
    border: 1px solid #495ebb;
  }
  .rule {
    padding: 0;
    margin: 0;
    border: 0 none;
  }

  .node-header,
  .node-content {
    padding: 0.5em 0.7rem;
  }

  .node-header {
    background-color: #495ebb;
    color: #ffffff;
  }

  .node-content {
    text-align: center;
    border: 1px solid #495ebb;
  }
}
