* {
  margin: 0;
  padding: 0;
}

.padding-title{
    padding: 0.5em;
}
.workarea-container{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.tree{
     height: calc(90% - 2em);
}

